 body{
    background-color: #FFFF66;
}
header{
    
    overflow: hidden;
    margin: -8px;
}
.header1{
    background-color:#FFA07A;
}
nav{
    float: right;
    margin-right: 48px;
}
ul{
    float: right;
    list-style: none;
    margin: 14px;
}
li{
    width: 100px;
    text-align: center;
    padding: 30px 0;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    font-family: monospace;
    font-size: 20px;
}
ul li a:hover{
    /* background-color: #FF9900; */
    color: #FFFF00;
     /* border: 2px solid #FF9900;  */
    border-radius: 40px;
    transition-duration: 0.5s;
}
#logo{
    width: 150px;
    float: left;
    height: auto;
}
.atas{
    max-width: 1200px;
    margin: auto;
}
p{
    text-align: left;
    font-size: 20px;
    color: rgb(233, 209, 177);
}
@media(max-width: 700px){
    p{
        text-align: left;
        font-size: 10px;
        color: #e7530f;
    }
}
@media(max-width: 1000px){
    p{
        text-align: justify;
        font-size: 10px;
        color: darkred;
    }
} 